@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --color-primary: #f75454;
  --color-secondary: #161619;
}

:root {
  --font-inter: 'Inter', sans-serif;
}

@theme inline {
  --default-font-family: var(--font-inter), var(--font-sans);

  --color-primary: #f75454;
  --color-primary-dark: #c64343;

  --color-secondary: #161619;
}

.menu li a:hover {
  @apply text-primary bg-transparent;
}

.active {
  @apply text-primary font-semibold;
}

@utility heading-secondary {
  @apply xl:text-3xl text-2xl font-semibold mb-2;
}
@utility heading-tertiary {
  @apply xl:text-2xl text-xl font-semibold mb-2;
}
@utility heading-4 {
  @apply xl:text-xl text-lg font-semibold;
}
